body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.image-container{
   height: 150px;
}

.navbar-container{
   margin-bottom: 5px;
}

.navbar-light .navbar-brand {
   color: white;
}

.navbar-light .navbar-nav .nav-link {
   color: white;
}

.text-center{
   text-align: center;
}

.card-border-left{
   border-left: 1px solid #e7e7e7;
}
.header-detail{
   border-bottom:  1px solid #e7e7e7;
}